<%- include('head'); -%>

		<div class="box" id="heading">
			<h1> <%= listTitle %> </h1>
		</div>

		<div class="box">
			<% var i = 0; %>
			<%  while (i <listItem.length){ %>	
				<div class="item">
					<input type="checkbox">
					<p> <%= listItem[i] %> </p>
				</div>
			<% i++;} %>
			<form action="/" method="post" class="item">
				<input type="text" placeholder="Text" name="item" autocomplete="off">
				<button type="submit" name="list" value=<%= listTitle%>>+</button>
			</form>
		<div>
<%- include('foot'); -%>
